out/
src/out/
build/
*.bin
*.elf
*.hex
*.map
*.o
*.obj
*.lib
*.a
*.log
*.exe
*.tmp
.vscode/
.deveco/
DevTools_Hi3861V100_v1.0/
tools/DevTools_Hi3861V100_v1.0/burntool/
__pycache__/
*.pyc
.DS_Store
.idea/
*.swp
*.swo
.env
*.cache
Thumbs.db.deveco/**
.vscode/**

